nav {
  background-color: burlywood;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
}

nav header {
  font-size: 2rem;
  margin: 10px;
}

nav .container {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 15%;
}

nav .container a {
  text-decoration: none;
}